// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course_info {
  display: block;
  margin: auto;
  border: 2px solid #ffffff;
  padding: 10px;
  max-width: 60%;
  box-shadow: 5px 5px 10px grey;
  border-radius: 25px;
}

.course_form {
  margin: auto;
  border: 2px solid #ffffff;
  padding: 15px;
  max-width: 20%;
  border-radius: 25px;
}
