// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course-details {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #919090;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

.course_form {
  margin: auto;
  border: 2px solid #ffffff;
  padding: 15px;
  max-width: 20%;
  border-radius: 25px;
}
