<h1>Editing Course</h1>

<%= render :partial => "form", :locals => { :button_label => "Update course", :course => @course } %>

<%= link_to 'Back', @course %> |
<%= link_to 'All Courses', courses_path %>
