  <h2><%= @course.name %></h2>
  <h3>Section <%= @course.section %></h3>
  <h4>Enrolled Students</h4><br>


    <%= link_to "Add a New Student", new_student_path %><br>
  <%= link_to 'Back', courses_path %>
